ul {
    position: fixed;
    height: 500px;
    max-height: 100%;
    /* min-width: 20px; */
    /* min-height: 500px; */
    z-index: 1;
    user-select:none;
    transition: .5s;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:5px;
    
    @media (width < 768px) {
        height: 100%;
        /* gap: 20px; */
        border-radius: 0 20px 20px 0;
        /* padding: 10px; */
        justify-content: flex-start;
        gap:20px;
        padding:30px 20px 0 30px;
    }
    @media (height < 500px) and ( width > 768px){
        min-width: 60px;
        justify-content: flex-start;
        gap:10px;
        height: auto;
    }
}
a{
    text-decoration: none;
}
#logout{
    color: var(--danger-color);
    @media (height < 500px) and ( width > 768px){
        margin-bottom: 10px;
    }
    
}
li:hover{/*li:nth-child(n+2):hover*/
    background-color: var(--bg-tartiary);
    border-radius: 5px;
    /* #312c4db6 */
}

.active li{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
}
.active li a{
   font-weight: 700;
}

.menuMobileButton {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 999;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    display: flex;;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    color:var(--txt-primary); 
    font-weight: 700;
    font-size: 25px;
    @media(width > 768px){
        display: none;
    }
}

.menuOpen{
    width: 200px;
    @media(width < 768px){
        width:320px;
    }
}
.menuButton{
    @media(width < 768px){
        color: var(--bg-secondary);
    }
}
.menuClose{
    width: 43px;
    @media(width < 768px){
        width: 0;
        padding:30px 0 0 0;
        
    }
    /* padding-left: 0; */
}

#iMenuOpen{
        transition: .5s;
        transform: rotate(180deg);
}
#iMenuClose{
    transition: .5s;
    transform: rotate(0deg);
}

#iMenuClose{

}

.addText{
    display: block;
}
.rmText{
    display: none;
}

.icon{
    display: flex;
    min-width: 33px;
    justify-content: center;
}
li{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 4px 0;
    color: var(--txt-primary);
    list-style: none;
    text-decoration: none;
    @media(width < 768px){
        font-size: 25px;
        padding: 10px 5px;
    }
}
li svg{
    /* padding: 0 11px; */
    /* margin: 0 15px 0 0; */
}
li a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    
}
/* .backgroundI{

    display: flex;
    align-items: center;
    border-left: 4px solid red;
    height: 18px;
} */
/* .active{
    color: white;
    text-decoration: none;
} */